@import bootstrap
@import bootstrap/theme
@import font-awesome-sprockets
@import font-awesome
@import *

@media (max-width: $screen-xs-max)
  .button-single
    width: 100%
    display: block
  .btn-danger
    display: block

@media (min-width: $screen-sm-min)
  .button-single
    float: right
    margin-left: 5px

.details-table tr
  td, th
    &:first-child
      @extend .col-xs-6
      @extend .col-sm-4
  td, th
    &:last-child
      @extend .col-xs-6
      @extend .col-sm-8

.alert-alert
  @extend .alert-danger

.alert-notice
  @extend .alert-info

#user-menu
  padding: 10px 15px
  display: block
  overflow: hidden

  img
    float: right
    margin-left: 10px
    height: 30px
    widht: 30px
  p
    float: left
    margin: 0
    line-height: 30px


