@import bootstrap
@import font-awesome-sprockets
@import font-awesome
@import *

@media (max-width: $screen-xs-max)
  .button-single
    width: 100%
    display: block

@media (min-width: $screen-sm-min)
  .button-single
    float: right
    margin-left: 5px

.details-table tr
  td, th
    &:first-child
      @extend .col-xs-6
      @extend .col-sm-4
  td, th
    &:last-child
      @extend .col-xs-6
      @extend .col-sm-8

.alert-alert
  @extend .alert-danger

.alert-notice
  @extend .alert-info



