

table.user-data tr:first-child td
  border-top: 0

.edit-button-container
  margin-bottom: 20px

.upload_section
  position: absolute
  top: 0

.img-container
  position: relative

  img
    width: 100%
    height: auto

.progress
  width: 80%
  margin: 0 auto