= simple_form_for category do |f|
  =form_errors_for category
  .form-group
    = f.input :name, required: true, autofocus: true
  .form-group.ow-hidden
    = create_submit 'Save', class: 'button-single'
