-provide :title, category.name

.btn-group.form-group
  = create_button 'Back', categories_path, icon: 'arrow-left'
  = create_button 'Edit', edit_category_path(category), icon: 'pencil'

%h3 New product
= render 'products/form'
