-provide :title, 'Listing Products'
.btn-group.form-group
  = back_button category_path(category), "Back to #{category.name}"
  = new_button new_category_product_path(category), 'New Product'
-if products.any?
  = render 'products/listing'
-else
  %em No products in this category yet.
